# Compiled Object files
*.slo
*.lo
*.o
*.elf
*.prx
*.SFO
*.PBP

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Misc
log
timestamp.h
/nbproject
/nbproject/private/

