# Compiled Object files
*.slo
*.lo
*.o
*.elf
*.prx
*.SFO
*.PBP

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Misc
.gitignore
.gitignore~
log
timestamp.h
/nbproject
